.satellite{
    position: absolute;
    z-index: 2;
}
.satellite img{
    width: 30px;
}
.orbitSatellite{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    border: 1px #6f8bce dashed;
    z-index: 1;
}