
.startButton{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    border: none;
    background: #19bb4f;
    border-radius: 4px;
    padding: 16px 80px;
    font-size: 12px;
    color: white;
    transition: all 0.5s;
    font-weight: bold;
}
.startButton:hover{
    background: #2cce25;
}